

body{
  display: flex;
  align-content: center;
  justify-content: center;
  /* height: 100px; */

}


.title{
  display: inline-block;
background-color: coral;
padding: 10px 20px;
border-radius: 8px;
color: white;
box-shadow: 2px 2px 8px black;
}